body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://wcm.transat.com/getmedia/acd8d8bb-0836-4e75-b1db-79059d7b6796/VIK-Arena-Blanca-Aerial-002?width=1400);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  background-color: #ded4b1;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
